<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/game.css">
    <title><%= games.title %></title>
</head>
<body class="game-body">
    <%- include('../partials/_navbar.ejs') %>
    <h1 id="game-intro"><%= games.title %></h1>

    <div class="game-image">
        <% if (games.gameImage && games.gameImage.includes('http'))  {  %>
            <img src="<%= games.gameImage %>" alt="Cover art for <%= games.title %>">
    </div>
        <%  } else {  %>
            <div id="image-not-found">
                <img src="https://i.imgur.com/lzmijpV.jpeg" alt="404 error page, with a Panda claiming he didn't eat it ">
            </div>
        <%  }  %>
    </div>

    <div class="game-profile">
            <ul>Gaming System: <%= games.gamingSystem %></ul>
            <ul>Release Date: <%= games.releaseDate %></ul>
            <ul>Rating: <%= games.rating %>/10</ul>
            <ul><a href="<%= games.companyLink %>" target="blank">Link to Production Company</a></ul>
            <ul>Notes: <%= games.notes %></ul>
            <% if (games.status === 'lovedIt') {  %>
                <ul>Did I like it?:  You loved it!</ul>
            <% } else if (games.status === 'hatedIt') { %>
                <ul>Did I like it?: This game sucked!</ul>
            <% } else if (games.status === 'neutral') { %>
                <ul>Did I like it?: Meh.</ul>
            <% } else if (games.status === 'haveYetToTry') {  %>
                <ul>Did I like it?: You haven't tried it yet!</ul>
            <% } %>

            <% if (isMyPage) {  %>
                <form action="/users/<%= user._id %>/videoGames/<%= games._id %>?_method=DELETE" method="POST">
                    <button class="game-button" type="submit">Delete this Game</button>
                </form>
            
                <a href="/users/<%= user._id %>/videoGames/<%= games._id %>/edit">
                    <button class="game-button" type="submit">Edit this Game</button>
                </a>
            <% } %>
    </div>
</body>
</html>