<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= games.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= games.title %></h1>
    <ul>
        <li>Gaming System: <%= games.gamingSystem %></li>
        <li>Release Date: <%= games.releaseDate %></li>
        <li><a href="<%= games.companyLink %>" target="blank">Link to Production Company</a></li>
        <li>Notes: <%= games.notes %></li>
        <% if (games.status === 'lovedIt') {  %>
            <li>Did I like it?:  You loved it!</li>
        <% } else if (games.status === 'hatedIt') { %>
            <li>Did I like it?: This game sucked!</li>
        <% } else if (games.status === 'neutral') { %>
            <li>Did I like it?: Meh.</li>
        <% } else if (games.status === 'haveYetToTry') {  %>
            <li>Did I like it?: You haven't tried it yet!</li>
        <% } %>
    </ul>
    <div class="game-image">
        <img src="<%= games.gameImage %>" alt="">
    </div>

    <% if (isMyPage) {  %>
        <form action="/users/<%= user._id %>/videoGames/<%= games._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this Game</button>
        </form>
    
        <a href="/users/<%= user._id %>/videoGames/<%= games._id %>/edit">
            <button type="submit">Edit this Game</button>
        </a>
    <% } %>
</body>
</html>