<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title>Profile Page</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Check out <%= users.username %>'s Gamer Vault!</h1>

    <div class="game-image">
        <img src="<%= users.profilePhoto %>" alt="User's profile photo">
    </div>
    
    <div class="user-profile">
        <ul>
            <li>Username: <%= users.username %></li>
            <li>Age: <%= users.age %></li>
            <li>Favorite Quote: <%= users.favoriteQuote %></li>
        </ul>    
    </div>
    <ul>
        <% users.vault.forEach(game => {  %>
            <a href="/communityPage/<%= users._id %>/<%= game._id %>">
                <li><%= game.title %></li>
            </a>
        <%  }) %>
    </ul>
</body>
</html>