<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Check out <%= users.username %>'s Gamer Vault!</h1>
    <ul>
        <% vault.forEach(game => {  %>
            <a href="/communityPage/<%= users._id %>/<%= game._id %>">
                <li><%= game.title %></li>
            </a>
        <%  }) %>
    </ul>
</body>
</html>