<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Check out <%= users.username %>'s Gamer Vault!</h1>

    <div class="game-image">
        <img src="<%= users.profilePhoto %>" alt="">
    </div>
    
    <div class="user-profile">
        <h2><%= users.username %>'s Stats:</h2>
        <ul>Username: <%= users.username %></ul>
        <ul>Age: <%= users.age %></ul>
        <ul>Favorite Quote: <%= users.favoriteQuote %></ul>
        <ul>Bio: <%= users.bio %></ul>
    </div>
    
    <h2><%= users.username %>'s Games:</h2>
    <ul>
        <% users.vault.forEach(game => {  %>
            <a href="/communityPage/<%= users._id %>/<%= game._id %>">
                <li><%= game.title %></li>
            </a>
        <%  }) %>
    </ul>
</body>
</html>